<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Chat Now</title>
</head>
<body>
  <h3>Edit chat using form your id is :  <%= chat._id  %> </h3>
 
<p>this chat was send from : <b> <%= chat.from %></b>,  to : <b><%= chat.to %></b></p>
  

  <form method="post" action="/chats/<%= chat._id %>?_method=PUT">
<textarea name="msg" id="" cols="20" rows="5"> <%= chat.msg %> </textarea>
<br><br>
<button type="submit">Edit</button>
  </form>
  
</body>
</html>